/* General reset for margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styling */
header {
    background-color: #333;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Hero Section Styling */
#hero {
    background-color: rgba(0, 123, 255, 0.5);
    /* Transparent blue background */
    padding: 20px;
    text-align: center;
}

/* Content Section Styling */
#content {
    padding: 20px;
}

/* CTA Section Styling */
#cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#cta button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#cta button:hover {
    background-color: #0056b3;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

form label {
    margin: 5px 0;
}

form input,
form textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

form button {
    background-color: #d43e19;
    color: greenyellow;
    padding: 10px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}